version: "3.9"
services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: docker/frontend.Dockerfile
    env_file: ./frontend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: docker/backend.Dockerfile
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: campus_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sanda3
      MYSQL_DATABASE: campus_life
      MYSQL_USER: devuser
      MYSQL_PASSWORD: sanda3
    ports:
      - "65533:65533"
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    container_name: campus_nginx
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - frontend
      - backend

volumes:
  db_data:
